*{
	padding: 0;
	margin: 0;
}
.info{
	width: 100%;
	height: 110vh;
	background-image: url("../img/header-bg.jpg");
}
.bgcolor.scrolled{
	background-color: #212529;
}
/*.bg-img {
	width: 100%;
	height: 100vh;
}*/
.nav-item{
	padding-left: 30px;
	font-size: 18px;
}
.hearderset{
	padding-top: 150px;
}
.info{

}
.hearderset h3{
	font-size: 40px;
	color: white;
}
.hearderset h2{
	font-size: 62px;
	color: white;
	padding-top: 20px;
	/*padding-bottom: 30px;*/
}
.menu-blt{
	margin-top: 30px;
	padding: 20px 30px 20px 30px;
	font-size: 20px;
	background-color: #ffc800;
	color: white;
	border: none;
	/*padding-top: 20px;*/
}
.services h3{
	font-size: 45px;

}
.services p{
	color: #6c757d;
	font-size: 18px;
}
.i{
	background-color: #ffc800;
	width: 150px;
	height: 150px;
	font-size: 60px;
	/*padding: 35px 40px;*/
	padding: 40px;
	color: white;
	
}
.text h3{
	font-size: 35px;
	padding: 20px ;
}
.text p{
	color: #6c757d;
	font-size: 16px;
}


.portfolio-text h3{
	font-size: 35px;
}
.portfolio-text p{
	font-size: 16px;
	color: #6c757d;
}
#portfolio .portfolio-item {
  max-width: 416px;
  margin-left: auto;
  margin-right: auto;
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 200, 0, 0.9);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}
#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}

#team-section{

}
#team-section{
	background-color: #f8f9fa;
}
.our-text h3{
	font-size: 35px;
	padding: 20px ;
}
.our-text p{
	color: #6c757d;
	font-size: 16px;
}
.team-img img{
	  width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.icon-text h4{
	font-size: 30px;
}
.icon-text p{
	color: #6c757d;
	font-size: 16px;
}
.icon-text i{
	font-size: 20px;
	background-color: black;
	color: white;
	width: 40px;
	height: 40px;
	display: inline-flex;
  justify-content: center;
  align-items: center;
}
.text-p p{
	color: #6c757d;
	font-size: 16px;
}



#map-img{
	background-image: url("../img/map-img.jpg");
	width: 100%;
	height: 110vh;
	background-size: cover;
	box-shadow: inset 0 0 0 2000px #1c1c1c7a;
}
.contace h3{
	font-size: 35px;
	color: white;
	padding: 20px;
}
.contace p{
	/*color: #6c757d;*/
	font-size: 16px;
}
.form-blt{
	font-size: 20px;
	background-color: orange;
	width: 150px;
	height: 52px;

}
.rafiq{
	    display: flex;
    justify-content: space-around;
}
#footer{
	margin: 20px 0px;
	color: #6c757d;
}